.iTcApple {
  align-self: stretch;
  position: relative;
}
.iTcAppleXyNhMySnXuWrapper {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frameIcon {
  width: 17px;
  height: 17px;
  overflow: hidden;
  flex-shrink: 0;
}
.div,
.frameIcon {
  position: relative;
}
.frameContainer,
.frameGroup,
.frameWrapper {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
}
.frameContainer {
  align-self: stretch;
  height: 34px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--font-size-sm);
}
.frameGroup,
.frameWrapper {
  flex-direction: column;
}
.frameGroup {
  align-self: stretch;
  background: linear-gradient(
    180deg,
    rgba(255, 242, 242, 0),
    rgba(0, 0, 0, 0.15) 14.58%,
    rgba(16, 16, 16, 0.41) 40.63%,
    #000
  );
  height: 125px;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-xl) 0;
  box-sizing: border-box;
}
.frameWrapper {
  width: 442px;
  border-radius: var(--br-xs);
  height: 279px;
  justify-content: flex-end;
  background-image: url(/public/frame-33@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.instanceChild,
.instanceParent {
  align-self: stretch;
  overflow: hidden;
}
.instanceParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.instanceChild {
  position: relative;
  max-width: 100%;
  height: 185px;
  flex-shrink: 0;
  object-fit: cover;
}
.iTcAppleXyNhMySnXuFrame {
  height: 59px;
  flex-shrink: 0;
  flex-direction: column;
}
.frameParent4,
.frameParent5,
.iTcAppleXyNhMySnXuFrame {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent5 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-8xs);
  color: var(--color-silver-500);
}
.frameParent4 {
  height: 102px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-xl) 0;
  box-sizing: border-box;
}
.frameParent3,
.instanceGroup {
  overflow: hidden;
  display: flex;
  gap: var(--gap-3xs);
}
.frameParent3 {
  align-self: stretch;
  width: 284px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.instanceGroup {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-black);
}
.instanceChild1 {
  width: 219px;
  border-radius: var(--br-xs);
  height: 145px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.appleHL,
.instanceChild1,
.tinTc {
  position: relative;
}
.tinTc {
  text-decoration: underline;
  color: var(--color-red);
}
.appleHL {
  color: var(--color-black);
}
.vaQuaApple {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.span {
  color: var(--color-black);
}
.vectorIcon {
  width: 10px;
  position: relative;
  height: 10px;
}
.byParent,
.frame,
.frameParent13 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.byParent,
.frameParent13 {
  flex-direction: row;
}
.frameParent13 {
  align-self: stretch;
  flex: 1;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-8xs);
  color: var(--color-silver-500);
}
.byParent {
  width: 166px;
  font-size: var(--font-size-xs);
}
.frameParent12,
.tinTcParent {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.tinTcParent {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-8xs) 0;
}
.frameParent12 {
  width: 638px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-silver-400);
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-8xs);
  cursor: pointer;
}
.instanceChild2 {
  width: 216px;
  position: relative;
  border-radius: var(--br-xs);
  height: 155px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.ellipseIcon {
  width: 33px;
  position: absolute;
  margin: 0 !important;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  height: 33px;
  object-fit: cover;
  z-index: 1;
}
.frameIcon5,
.nhGiChiTitPixeWrapper {
  position: absolute;
  margin: 0 !important;
  overflow: hidden;
}
.nhGiChiTitPixeWrapper {
  width: 153px;
  top: 10px;
  left: 53px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frameIcon5 {
  width: 48px;
  top: 53px;
  left: 84px;
  height: 48px;
  flex-shrink: 0;
  z-index: 3;
}
.frameParent14,
.instanceContainer {
  overflow: hidden;
  display: flex;
  gap: var(--gap-3xs);
}
.frameParent14 {
  width: 216px;
  border-radius: var(--br-xs);
  height: 155px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--color-white);
}
.instanceContainer {
  width: 900px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.container,
.frameParent15,
.wrapper {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.frameParent15 {
  width: 638px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-silver-400);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-8xs);
  gap: var(--gap-3xs);
}
.container,
.wrapper {
  width: 43px;
  border-radius: var(--br-6xs);
  background-color: var(--color-royalblue);
  height: 43px;
  flex-direction: column;
  justify-content: center;
}
.container {
  background-color: var(--color-white);
  color: var(--color-black);
}
.vectorIcon5 {
  width: 7px;
  position: relative;
  height: 16px;
}
.itemGrid,
.vectorWrapper {
  flex-shrink: 0;
  justify-content: center;
}
.vectorWrapper {
  width: 43px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  height: 43px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemGrid {
  align-self: stretch;
  height: 332px;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.frameParent,
.itemGrid,
.pager,
.thngTinWrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.pager {
  align-self: stretch;
  height: 148px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
}
.frameParent,
.thngTinWrapper {
  justify-content: flex-start;
}
.frameParent {
  position: absolute;
  top: 64px;
  left: 0;
  background-color: var(--color-white);
  width: 1566px;
  height: 1754px;
  flex-direction: column;
  padding: var(--padding-31xl) var(--padding-314xl) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.thngTinWrapper {
  flex-direction: row;
  padding: var(--padding-3xs);
}
.footerThongTin,
.thuCIMiParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.thuCIMiParent {
  width: 241px;
  overflow: hidden;
  padding: 0 var(--padding-mini) var(--padding-15xl) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-4xl);
  color: var(--color-gray-200);
}
.footerThongTin {
  align-self: stretch;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.nhGiCht {
  position: relative;
  white-space: pre-wrap;
}
.span5 {
  color: var(--color-royalblue);
}
.blankLine {
  margin: 0;
}
.categoryItem {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cngTyCContainer {
  flex: 1;
  position: relative;
}
.categoryItemParent,
.cngTyCPhnHesmanVitNaWrapper {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.cngTyCPhnHesmanVitNaWrapper {
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 155px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-3xs) 0;
  color: var(--color-gray-200);
}
.categoryItemParent {
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.headingNewletter {
  position: absolute;
  top: 1818px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1566px;
  height: 535px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-14xl) var(--padding-314xl) 0;
  box-sizing: border-box;
  color: var(--color-lightgray-100);
}
.iconLaptop,
.iconMac,
.iconThink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.iconLaptop,
.iconMac {
  align-self: stretch;
}
.iconMac {
  width: 58px;
  box-sizing: border-box;
}
.iconLaptop {
  flex: 1;
}
.vectorIcon6 {
  width: 21px;
  position: relative;
  height: 21px;
}
.btnSearch {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
}
.vectorIcon7 {
  width: 21px;
  position: relative;
  height: 22.6px;
}
.btnBag {
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-8xs);
}
.btnBag,
.component6,
.iconThinkParent {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconThinkParent {
  align-self: stretch;
  height: 64px;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-41xl);
}
.component6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1566px;
  flex-direction: column;
  padding: 0 var(--padding-314xl);
  box-sizing: border-box;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-600);
}
.tintuc {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 982px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
  font-family: var(--font-fira-sans);
}
