.sildeItemIcon,
.sildeItemIcon1,
.sildeItemIcon2,
.sildeItemIcon3 {
  position: absolute;
  top: 0;
  left: 6264px;
  width: 1566px;
  height: 490px;
  overflow: hidden;
  object-fit: cover;
}
.sildeItemIcon1,
.sildeItemIcon2,
.sildeItemIcon3 {
  left: 4698px;
}
.sildeItemIcon2,
.sildeItemIcon3 {
  left: 3132px;
}
.sildeItemIcon3 {
  left: 1566px;
}
.itemGroupSlide,
.sildeItemIcon4 {
  position: absolute;
  top: 0;
  left: 0;
  height: 490px;
}
.sildeItemIcon4 {
  width: 1566px;
  overflow: hidden;
  object-fit: cover;
}
.itemGroupSlide {
  width: 7830px;
}
.iconNavigationDam,
.iconNavigationNhat,
.iconNavigationNhat1,
.iconNavigationNhat2,
.iconNavigationNhat3 {
  position: absolute;
  height: 100%;
  width: 13.64%;
  top: 0;
  right: 86.36%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconNavigationNhat,
.iconNavigationNhat1,
.iconNavigationNhat2,
.iconNavigationNhat3 {
  right: 64.73%;
  left: 21.64%;
}
.iconNavigationNhat1,
.iconNavigationNhat2,
.iconNavigationNhat3 {
  right: 43.18%;
  left: 43.18%;
}
.iconNavigationNhat2,
.iconNavigationNhat3 {
  right: 0;
  left: 86.36%;
}
.iconNavigationNhat3 {
  right: 21.55%;
  left: 64.82%;
}
.navigation11 {
  position: absolute;
  height: 125%;
  width: 125%;
  top: 0;
  right: -25%;
  bottom: -25%;
  left: 0;
}
.navigation1 {
  position: absolute;
  bottom: 13px;
  left: calc(50% - 44px);
  width: 88px;
  height: 12px;
}
.rightIcon {
  position: absolute;
  height: calc(100% - 363px);
  top: 182px;
  right: 108px;
  bottom: 181px;
  max-height: 100%;
  width: 127px;
}
.silde {
  position: absolute;
  top: 64px;
  left: 0;
  width: 1566px;
  height: 485px;
  overflow: hidden;
}
.mac {
  position: relative;
}
.macWrapper {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-386xl);
  font-size: var(--font-size-14xl);
}
.frameChild,
.instanceChild {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frameChild {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.instanceChild {
  box-shadow: 0 0 0.5px 0.6px rgba(0, 0, 0, 0.25) inset;
  border-radius: 50%;
  background-color: var(--color-darkslategray-300);
}
.component9Inner {
  width: 10px;
  height: 10px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.instanceItem {
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: 0 0 0.5px 0.6px rgba(0, 0, 0, 0.25) inset;
  border-radius: 50%;
  background-color: var(--color-silver-600);
}
.component9Child {
  width: 10px;
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.instanceChild1,
.instanceInner {
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: 0 0 0.5px 0.6px rgba(0, 0, 0, 0.25) inset;
  border-radius: 50%;
  background-color: var(--color-antiquewhite);
}
.instanceChild1 {
  background-color: var(--color-gainsboro-100);
}
.component9 {
  width: 64px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.component9Wrapper,
.frameGroup {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.component9Wrapper {
  height: 15px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.macbookAirM1Container {
  align-self: stretch;
  position: relative;
}
.macbookAirM120208gbRamWrapper {
  align-self: stretch;
  height: 58px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.p {
  margin: 0;
}
.b1 {
  position: relative;
  text-decoration: line-through;
  color: var(--color-gray-200);
}
.frameContainer,
.frameParent,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-3xs);
  color: var(--color-royalblue);
}
.frameContainer,
.frameParent {
  flex-direction: column;
  box-sizing: border-box;
}
.frameContainer {
  align-self: stretch;
  height: 102px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-12xs) 0 0;
}
.frameParent {
  width: 213px;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  height: 322px;
  padding: var(--padding-xl);
  gap: var(--gap-xl);
}
.frameIcon1,
.frameParent,
.itemGrid {
  overflow: hidden;
  flex-shrink: 0;
}
.itemGrid {
  align-self: stretch;
  height: 332px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  color: var(--color-black);
}
.frameIcon1 {
  width: 9px;
  position: relative;
  height: 15px;
}
.categoryItemInner,
.xemTtCPhKinParent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.xemTtCPhKinParent {
  width: 228px;
  border-radius: var(--br-4xs);
  border: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  height: 49px;
  flex-shrink: 0;
  padding: var(--padding-smi) 0;
  gap: var(--gap-3xs);
}
.categoryItemInner {
  align-self: stretch;
  padding: var(--padding-3xs);
  color: var(--color-royalblue);
}
.categoryItem {
  width: 1566px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.component9Wrapper2 {
  width: 173px;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.categoryItem2 {
  align-self: stretch;
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.categoryItem1,
.categoryItem2,
.macbookAirM120208gbRamWrapper6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.categoryItem1 {
  width: 1566px;
  align-items: flex-start;
}
.macbookAirM120208gbRamWrapper6 {
  height: 58px;
  align-items: center;
}
.iTcAppleXyNhMySnXuWrapper,
.instanceChild46,
.macbookAirM120208gbRamWrapper6 {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
}
.instanceChild46 {
  position: relative;
  max-width: 100%;
  height: 185px;
  object-fit: cover;
}
.iTcAppleXyNhMySnXuWrapper {
  height: 59px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameIcon4 {
  width: 17px;
  position: relative;
  height: 17px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent34,
.frameParent35 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent35 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: var(--gap-8xs);
  color: var(--color-silver-500);
}
.frameParent34 {
  height: 102px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-xl) 0;
  box-sizing: border-box;
}
.frameParent33,
.frameParent34,
.itemGrid3 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
}
.frameParent33 {
  align-self: stretch;
  width: 284px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.itemGrid3 {
  height: 332px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  color: var(--color-black);
}
.categoryItem6,
.categoryItem7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.categoryItem7 {
  overflow: hidden;
  align-items: center;
  gap: var(--gap-3xs);
}
.categoryItem6 {
  align-items: flex-start;
}
.ngKNhnContainer,
.ngKNhnTinTThnk1 {
  position: absolute;
  top: 123.26%;
  left: -26.79%;
}
.ngKNhnTinTThnk1 {
  height: 93.02%;
  width: 100%;
  top: -20.93%;
  right: -5.87%;
  bottom: 27.91%;
  left: 5.87%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-14xl);
}
.ngKNhnTinTThnk {
  width: 392px;
  position: relative;
  height: 43px;
}
.ngKNhnTinTThnkWrapper {
  align-self: stretch;
  height: 99px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-386xl);
  box-sizing: border-box;
}
.ngKWrapper {
  align-self: stretch;
  width: 144px;
  border-radius: var(--br-24xl);
  background-color: var(--color-royalblue);
  flex-shrink: 0;
  justify-content: center;
  color: var(--color-white);
}
.categoryItemInner3,
.emailCaBnParent,
.ngKWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.emailCaBnParent {
  width: 719px;
  border-radius: var(--br-34xl);
  background-color: var(--color-white);
  height: 49px;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.categoryItemInner3 {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-3xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
}
.categoryItem8,
.headingNewletter {
  display: flex;
  flex-direction: column;
}
.categoryItem8 {
  align-self: stretch;
  height: 336px;
  align-items: center;
  justify-content: center;
}
.headingNewletter {
  width: 1566px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
}
.itemList,
.thngTinWrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.itemList {
  position: absolute;
  top: 549px;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  padding: var(--padding-21xl) 0 var(--padding-3xs);
  gap: var(--gap-3xs);
}
.thngTinWrapper {
  flex-direction: row;
  padding: var(--padding-3xs);
}
.footerThongTin,
.thuCIMiParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.thuCIMiParent {
  width: 241px;
  overflow: hidden;
  padding: 0 var(--padding-mini) var(--padding-15xl) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-4xl);
  color: var(--color-gray-200);
}
.footerThongTin {
  align-self: stretch;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.nhGiCht {
  position: relative;
  white-space: pre-wrap;
}
.span {
  color: var(--color-royalblue);
}
.categoryItem10 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cngTyCContainer {
  flex: 1;
  position: relative;
}
.categoryItemParent,
.cngTyCPhnHesmanVitNaWrapper {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.cngTyCPhnHesmanVitNaWrapper {
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 155px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-3xs) 0;
  color: var(--color-gray-200);
}
.categoryItemParent {
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.headingNewletter1 {
  position: absolute;
  top: 2851px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1566px;
  height: 535px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-14xl) var(--padding-314xl) 0;
  box-sizing: border-box;
  color: var(--color-lightgray-100);
}
.iconLaptop,
.iconMac,
.iconThink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.iconLaptop,
.iconMac {
  align-self: stretch;
}
.iconMac {
  width: 58px;
  box-sizing: border-box;
}
.iconLaptop {
  flex: 1;
}
.vectorIcon {
  width: 21px;
  position: relative;
  height: 21px;
}
.btnSearch {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
}
.vectorIcon1 {
  width: 21px;
  position: relative;
  height: 22.6px;
}
.btnBag {
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-8xs);
}
.btnBag,
.component6,
.iconThinkParent {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconThinkParent {
  align-self: stretch;
  height: 64px;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-41xl);
}
.component6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1566px;
  flex-direction: column;
  padding: 0 var(--padding-314xl);
  box-sizing: border-box;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-600);
}
.web1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 982px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-fira-sans);
}
